<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>


    <link href="/static/css/fix.css" rel="stylesheet">


</head>

<body>

<div class="login">
    <h1>Change password</h1>
    <p style="color:white;">{{.Error}}</p>
    <form method="post" action="/changepassword">
        <input type="password"  value="{{ .Form.PasswordOld }}" placeholder="old password" required="required" id="passwordold" name="passwordold">
        <input type="password"  value="{{ .Form.Password }}" placeholder="new password"  required="required" name="password">
        <input type="password"  value="{{ .Form.PasswordRe }}" placeholder="repeat new password"  required="required"  name="passwordre">


        <button type="submit" class="btn btn-primary btn-block btn-large">Update</button>
    </form>
</div>





</body>
</html>
