@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,600,800,400);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100vh;
}
body {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    background-image: -webkit-linear-gradient(top right, rgba(255, 255, 255, 0.6), transparent 60%, rgba(0, 0, 0, 0.6)), -webkit-linear-gradient(bottom right, #a0d3e4, #97d1e7);
    background-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.6), transparent 60%, rgba(0, 0, 0, 0.6)), linear-gradient(to top left, #a0d3e4, #97d1e7);
}
.ui {
    margin: 10px auto;
    /*width: 745px;*/
    /*height: 555px;*/
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 25px #3a9fc4;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}
.ui .search input {
    outline: none;
    border: none;
    background: none;
}
.ui .search {
    position: relative;
}
.ui .search input[type=submit] {
    font-family: 'FontAwesome';
    position: absolute;
    right: 25px;
    top: 27px;
    color: white;
}
.ui .search input[type=search] {
    background-color: #696c75;
    border-radius: 3px;
    padding: 10px;
    width: 90%;
    box-sizing: border-box;
    margin: 15px 10px;
    color: #fff;
}
.ui .left-menu {
    width: 29%;
    box-sizing: content-box;
    padding-right: 1%;
    height: 100%;
    background: #434753;
}
.ui .chat {
    width: 70%;
    height: 100%;
    background: #f1f5f8;
}
.ui .chat .info {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    vertical-align: 40px;
    width: calc(100% - 65px - 50px);
}
.ui .chat .info .name {
    font-weight: 600;
    color: #434753;
    height: 50%;
}
.ui .chat .info .count {
    color: #6d738d;
}
.ui .chat i.fa {
    color: #d6d9de;
    vertical-align: 25px;
}
.ui .avatar > img,
.ui .list-friends img {
    border-radius: 50%;
    border: 3px solid #696c75;
}
.ui .list-friends {
    list-style: none;
    font-size: 13px;
    height: 88%;
}
.ui .list-friends img {
    margin: 5px;
}
.ui .list-friends > li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 10px 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ui .list-friends .info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.ui .list-friends .user {
    color: #fff;
    margin-top: 12px;
}
.ui .list-friends .status {
    position: relative;
    margin-left: 14px;
    color: #a8adb3;
}
.ui .list-friends .off:after,
.ui .list-friends .on:after {
    content: '';
    left: -12px;
    top: 8px;
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 50%;
}
.ui .list-friends .off:after {
    background: #fd8064;
}
.ui .list-friends .on:after {
    background: #62bf6e;
}
.ui .top {
    height: 70px;
}
.ui .messages {
    height: calc(100% - 20px - 160px);
    list-style: none;
    border: 2px solid #fff;
    border-left: none;
    border-right: none;
    overflow-y: scroll;
}
.ui .messages li {
    margin: 10px;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.ui .messages li:after {
    content: '';
    clear: both;
    display: block;
}
.ui .messages li .head {
    font-size: 13px;
}
.ui .messages li .name {
    font-weight: 600;
    position: relative;
}
.ui .messages li .name:after {
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    top: 6px;
}
.ui .messages li .time {
    color: #b7bccf;
}
.ui .messages li .message {
    margin-top: 20px;
    color: #fff;
    font-size: 15px;
    border-radius: 3px;
    padding: 20px;
    line-height: 25px;
    max-width: 500px;
    word-wrap: break-word;
    position: relative;
}
.ui .messages li .message:before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    top: -12px;
    border-bottom: 12px solid #62bf6e;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.ui .messages li.friend-with-a-SVAGina .name {
    margin-left: 20px;
}
.ui .messages li.friend-with-a-SVAGina .name:after {
    background-color: #62bf6e;
    left: -20px;
    top: 6px;
}
.ui .messages li.friend-with-a-SVAGina .message {
    background-color: #62bf6e;
    float: left;
}
.ui .messages li.friend-with-a-SVAGina .message:before {
    left: 16px;
    border-bottom-color: #62bf6e;
}
.ui .messages li.i .head {
    text-align: right;
}
.ui .messages li.i .name {
    margin-right: 20px;
}
.ui .messages li.i .name:after {
    background-color: #7bc4ef;
    right: -20px;
    top: 6px;
}
.ui .messages li.i .message {
    background-color: #7bc4ef;
    float: right;
}
.ui .messages li.i .message:before {
    right: 16px;
    border-bottom-color: #7bc4ef;
}
.ui .write-form {
    height: 150px;
}
.ui .write-form textarea {
    height: 75px;
    margin: 5px 5%;
    width: 90%;
    outline: none;
    padding: 15px;
    border: none;
    border-radius: 3px;
    resize: none;
}
.ui .write-form textarea:before {
    content: '';
    clear: both;
}
.ui .avatar > img {
    border-color: #62bf6e;
    margin: 10px;
    margin-right: 5px;
}
.ui .avatar {
    display: inline-block;
}
.ui .send {
    color: #7ac5ef;
    text-transform: uppercase;
    font-weight: 700;
    float: right;
    margin-right: 5%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui i.fa-picture-o {
    margin-left: 5%;
}


#colorCodesContainer {
    box-shadow: 2px 2px 2px #777;
}
#colorCodesContainer a {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
}


/* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */

.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden; }

body {
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width:300px;
    height:300px;
}
.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

input {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }
